.btn-action {
    margin-right: 5px;
}

.btn-action:hover {
    opacity: 0.8;
}

.btn-action.edit {
    background-color: #007bff;
    color: #fff;
}

.btn-action.edit:hover {
    background-color: #0069d9;
    color: #fff;
}

.btn-action.delete {
    background-color: #dc3545;
    color: #fff;
}

.btn-action.delete:hover {
    background-color: #c82333;
    color: #fff;
}

.form-delete {
    display: inline;
    margin: 0;
    padding: 0;
}

.card {
    border-radius: 0;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.card-body {
    background-color: #f8f9fa;
    padding: 30px;
}

h2 {
    color: #2d3748;
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: 700;
    text-align: center;
}

.form-label {
    color: #4a5568;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.form-control {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 0, 0.1);
    color: #4a5568;
    font-size: 16px;
    font-weight: 400;
    padding: 14px 16px;
}

.form-control:focus {
    border-color: #4a5568;
    box-shadow: none;
}

.is-invalid {
    border-color: #e53e3e;
}

.invalid-feedback {
    color: #e53e3e;
    font-size: 14px;
    margin-top: 5px;
}

.btn-primary {
    background-color: #4299e1;
    border-color: #4299e1;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 14px 16px;
    width: 100%;
}

.btn-primary:hover {
    background-color: #3182ce;
    border-color: #3182ce;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .button:hover {
    background-color: #3e8e41;
  }